<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img src="{{ comment.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=comment.author.username) }}">
                        {{ comment.author.username }}
                    </a>
                </span>
            {% endset %}
            {{ user_link + ' said ' + moment(comment.timestamp).fromNow() | safe }} 
            <br>
            <span id="comment{{ comment.id }}">{{ comment.body }}</span>
        </td>
    </tr>
</table>

